.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  padding-left: 40px;
}
.card {
  padding: 20px;
  margin: 30px;
  padding-left: 2px;
  background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    );
}

.top-container {
  display: flex;
  position: absolute;
  right: 30%;
}

.heading-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}


.loading {
  padding: 6cm 8cm 20cm 18cm;
}
.h6 {
  padding-left: 15px;
}
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .top-container {
    size: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15%;
    padding-top: 25px;
  }
  .top-container img{
    height: 60px;
  }
  .image-style{
    height: 10px;
    width: auto;

  }
  .h6{
    font-size: 12px;
    padding-left: 7px;
  }
  .container {
    width: 270px;
    position: relative;
    margin:0 0 0 0.8cm ;
    padding: 0;
  }
}

