<div>
  <div class="top-container">
    <section>
      <a href=""
        ><img style="image-style"
          src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100"
        />
        <h6 class="h6">All Products</h6>
      </a>
    </section>
    &nbsp;;
    <section>
      <a href=""
        ><img
          src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100"
        />
        <h6 class="h6">Electronics</h6>
      </a>
    </section>
    &nbsp;&nbsp;
    <section>
      <a href=""
        ><img
          src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100"
        />
        <h6 class="h6">Fashion</h6>
      </a>
    </section>
    &nbsp;&nbsp;
    <section>
      <a href=""
        ><img
          src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100"
        />
        <h6 class="h6">Jwellery</h6>
      </a>
    </section>
    &nbsp;&nbsp;
  </div>

  <div *ngIf="show; else elseBlock">
    <h1 class="loading">
      <mat-spinner style="height= 80px; width: 80px"></mat-spinner>Loading...
    </h1>
  </div>
  <ng-template #elseBlock>
    <div class="container"  style="padding-top: 150px">
      <div class="row">
        <ng-container
          *ngFor="let items of data | filter : searchKey : 'title'"
          style="padding-left: 5px"
          ;
        >
          <div class="card col-md-3">
            <img src="{{ items.image }}" />
            <h5 class="heading-title">{{ items.title }}</h5>
            <p class="heading-title">{{ items.description }}</p>
            <p>
              <strong>Price: ${{ items.price }}</strong>
            </p>
            <button class="btn btn-primary" (click)="addtocart(items)">
              Add to Cart
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
